<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="padding: 0;margin: 0;box-sizing: border-box;">
    <div style="display: flex; justify-content: center;">


        <div style="background-color: #F9F9FF;width: 500px;border-radius: 15px;">
            <div>
                <div>
                    <table style="display: flex;justify-content: center;">
                        <tr>
                            <th>
                                <h1>
                                    Bievenid@ a <br>
                                    Lya<span style="color: #5E20E4;">Book</span>
                                </h1>
                            </th>
                            <th>
                                <img src="https://i.ibb.co/Kh9xcgT/banner.jpg" alt="banner" border="0">
                            </th>
                        </tr>
                    </table>
                </div>

                <div style="text-align: center;">
                    <h3>Hola, {{ .Name }} {{ .LastName }}</h3>
                    <h4>
                        <strong>Se creo tu cuenta correctamente</strong>
                    </h4>
                    <strong>Bienvenid@ a la familia</strong>
                </div>
            </div>

            <div style="padding: 1rem;"></div>

            <div
                style="background-color: #021639; height: 50px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center;color: #F9F9FF;">En Lya<span style="color: #5E20E4;">Book</span>, lee y aprende más</p>
            </div>
        </div>
    </div>
</body>

</html>